* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

body {
  display: grid;
  max-width: 1020px;
  width: 100%;
  grid-template-rows: 870px 734px;
  grid-template-columns: 1020px;
  margin: 0 auto !important;
}

.portfolio {
  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.portfolio section {
  margin: 61px 40px 0;
}

.portfolio section h2 {
  font-size: 2.11rem;
  font-family: "Lato-Black", "Arial", sans-serif;
  color: rgba(102, 109, 137, 255);
}

.portfolio section p {
  margin: 22px 0 17px;

  font-size: 1.3rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  word-spacing: -0.04rem;
  color: rgba(118, 126, 158, 255);
}

.portfolio ul {
  display: flex;
  width: 291px;
  margin-left: -2px;

  justify-content: space-between;
  
  list-style-type: none;
}

.portfolio li {
  display: inline;
}

.portfolio input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.portfolio label {
  padding: 2px 6.7px 4px;

  font-size: 0.85rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  color: rgba(118, 126, 158, 255);

  border: solid 0.5px rgba(118, 126, 158, 255);
  border-radius: 5.5px;

  cursor: pointer;
}

.portfolio label:hover,
input:checked + label {
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio article {
  display: flex;
  height: 618px;
  flex-flow: row wrap;
  margin: 23px 0 0;

  justify-content: space-between;
  align-content: flex-start;

  overflow: hidden;
}

.portfolio article img {
  margin-bottom: 20px;
}

.about-us {
  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

.social-media {
  display: flex;
}

.about-us h2 {
  font-size: 2.11rem;
  font-family: "Lato-Black", "Arial", sans-serif;
  color: rgba(102, 109, 137, 255);
}

.about-us h3 {
  margin-top: 11.9px;

  font-size: 1.26rem;
  font-family: "Lato-Black", "Arial", sans-serif;
  white-space: nowrap;
  color: rgba(102, 109, 137, 255);
}

.about-us section {
  margin: 60px 40px 0;
}

.about-us section p {
  margin: 18px 0 45px;

  font-size: 1.3rem;
  line-height: 2.15rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  text-align: justify;
  color: rgba(118, 126, 158, 255);
}

.about-us article {
  display: grid;
  height: 500px;
  grid-template: 505px / 301px 302px 300px;

  justify-content: space-between;
  align-content: space-between;
}

.about-us article p {
  margin: 8px 0 10px;

  font-size: 0.85rem;
  line-height: 1.5rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  text-align: justify;
  color: rgba(118, 126, 158, 255);
}

.social-media {
  width: 152px;
  height: 33px;
  margin-top: 1.73rem;

  justify-content: space-between;
}

.social-media img:hover {
  color: skyblue;
  cursor: pointer;

  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}

#adam,
#desmond {
  padding-left: 1px;
}
