* {
  padding: 0;
  border: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  max-width: 1020px;
  width: 100vw;
  margin: 0 auto !important;
}

h1 {
  font-size: 2.45rem;
  font-family: "Lato-Bold", "Arial", sans-serif;
  letter-spacing: -0.03rem;
  text-transform: uppercase;
  text-align: justify;
  color: #ffffff;
}

h2 {
  font-size: 3rem;
  font-family: "Lato-Black", "Arial", sans-serif;
  word-spacing: 1px;
  letter-spacing: -0.3px;
}

h3 {
  font-size: 1.8rem;
  font-family: "Lato-Black", "Arial", sans-serif;
  white-space: nowrap;
}

h4 {
  font-size: 1.82rem;
  line-height: 3.01rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  text-align: justify;
}

/* HEADER */

.header {
  position: fixed;
  z-index: 100;

  display: flex;
  max-width: 1020px;
  width: 100%;

  background-color: #2d303a;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 89px;
  padding: 0 40px;

  border-bottom: solid 6px #323746;
}

.default-menu {
  display: flex;
  width: 100%;
}

.burger {
  display: none;
}

.header span {
  color: #f06c64;
}

.logo {
  margin-top: 30px;
  flex: 3 0 20%;
}

.header nav {
  flex: 1 0 20%;
}

.navigation {
  display: flex;
  width: 374px;
  margin: 40px 0 0;

  font-size: 1.2rem;
  font-family: "Lato-Bold", "Arial", sans-serif;
  letter-spacing: -0.04rem;

  justify-content: space-between;
  color: rgba(255, 255, 255, 255);

  list-style-type: none;
}

.navigation_list-item {
  color: #ffffff;
  text-decoration: none;
}

.navigation_list-item:hover {
  color: skyblue;
  cursor: pointer;
}

.navigation_separator {
  color: #494e62;
}

.active {
  color: red;
}

@media (max-width: 767px) {
  .wrapper {
    height: 72px;
    padding: 0 20px;

    align-items: center;

    border-bottom: 0;
  }

  .wrapper.small {
    height: 36px;
  }

  .burger {
    display: inline;

    cursor: pointer;
  }

  .logo {
    margin: 0;
    margin-right: 25px;
  }

  h1 {
    font-size: 1.95rem;
    text-align: center;
  }

  .header nav {
    display: none;
  }

  /* active burger-menu */
  .wrapper.burger-menu_active {
    width: 74%;
    height: 100vh;
    padding-top: 23px;

    align-items: start;

    background-color: #2d303a;
  }

  .burger.burger-menu_active {
    transform: rotate(90deg);
  }

  .default-menu {
    padding-left: 30px;
    flex-direction: column;
  }

  .logo.burger-menu_active h1 {
    text-align: start;
  }

  .header.burger-menu_active {
    padding-right: 26%;

    background-color: rgba(135, 145, 145, 0.5);
  }

  .header nav.burger-menu_active {
    display: block;
  }

  .navigation.burger-menu_active {
    height: 260px;
    margin: 50vh 0 0;
    flex-direction: column;

    font-size: 2.4rem;

    transform: translateY(-50%);
  }

  .navigation.burger-menu_active > li.navigation_separator {
    display: none;
  }
}

/* SLIDER */

.slider {
  position: relative;

  padding-top: 68.5%;
  scroll-margin-top: 94px;
}

/* slides */
.slide-second {
  height: 594px;

  border-bottom: solid 6px #648bf0;
}

.slide-first {
  padding-top: 58.3%;

  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.vertical.phone-container {
  position: absolute;
  top: 53px;
  left: 112px;
  z-index: 10;
}

.iPhone.vertical {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
}

.screen.vertical {
  position: absolute;
  top: 65px;
  left: 14px;
  z-index: 11;
}

.horizontal.phone-container {
  position: absolute;
  top: 174px;
  left: 424px;
}

.iPhone.horizontal {
  position: absolute;
  top: 0;
  left: 0;

  cursor: pointer;
}

.screen.horizontal {
  position: absolute;
  top: 14px;
  left: 60px;
  z-index: 11;
}

.screen {
  visibility: hidden;
  cursor: pointer;
}

.screen.active {
  visibility: visible;
}

/* sliding */
.carousel {
  position: absolute;
  top: 95px;

  width: 100%;
}

.slides-container {
  position: relative;

  width: 100%;

  overflow: hidden;
}

.item {
  position: relative;

  display: none;
  margin: 0 auto;

  animation: 0.5s ease-in-out;
}

.active,
.next {
  display: flex;
}

.next {
  position: absolute;
  top: 0;

  width: 100%;
}

.control {
  position: absolute;
  top: 280px;

  cursor: pointer;
}

.control:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}

.control.left {
  left: 40px;
  right: auto;
}

.control.right {
  left: auto;
  right: 40px;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@media (max-width: 1019px) {
  .slide-first {
    padding-top: 58.1%;
  }

  .slide-second {
    height: 100%;
  }

  .slide-second img {
    width: 100%;
    height: 100%;
  }

  .control.right {
    right: 3.5vw;
  }

  .control.left {
    left: 4vw;
  }

  .control {
    top: 28vw;
  }

  .vertical.phone-container {
    top: 5.3vw;
    left: 11vw;

    width: 23.5%;
    height: 87.5%;
  }

  .shadow.vertical {
    width: 100%;
    height: 100%;

    border-radius: 55px;
  }
  .iPhone.vertical {
    width: 90%;
    height: 88.5%;
  }

  .screen.vertical {
    top: 6.5vw;
    left: 1.4vw;

    width: 78.5%;
    height: 64%;
  }

  .horizontal.phone-container {
    top: 17.3vw;
    left: 41.7vw;

    width: 47.2%;
    height: 45.6%;
  }

  .shadow.horizontal {
    width: 100%;
    height: 100%;

    border-radius: 51px;
  }
  .iPhone.horizontal {
    width: 95.5%;
    height: 80%;
  }

  .screen.horizontal {
    top: 1.3vw;
    left: 5.8vw;

    width: 69.5%;
    height: 71%;
  }
}

@media (max-width: 767px) {
  .slider {
    padding-top: 77.8%;
    scroll-margin-top: 72px;
  }

  .carousel {
    top: 72px;
  }

  .slide-first {
    border-bottom: solid 2px #ea676b;
  }

  .slide-second {
    border-bottom: 0;
  }

  div.control > img {
    width: 14px;
    height: 24.7px;
  }

  .control {
    top: 25vw;
  }
  .control.left {
    left: 3vw;
  }
  .control.right {
    right: 3vw;
  }

  .shadow.vertical,
  .shadow.horizontal {
    height: 99%;

    border-radius: 23px;
  }
}

/* SERVICES */

.services {
  padding: 55px 40px 0;
  scroll-margin-top: 75px;

  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

.services_article h2 {
  color: rgba(102, 109, 137, 255);
}

.services_article p {
  margin-top: 18px;

  font-size: 1.8rem;
  line-height: 3rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  word-spacing: 0.03rem;
  letter-spacing: 0.01rem;
  color: rgba(118, 126, 158, 255);
}

.services_items {
  display: flex;
  flex-flow: row wrap;
  max-width: 940px;
  margin: 43px 0 32px;

  justify-content: space-between;
}

.services_cell {
  display: flex;
  flex-flow: column wrap;
  max-width: 300px;
  width: 30vw;
  height: 90px;
  margin-bottom: 33px;

  align-content: start;
}

.services_cell img {
  margin-bottom: 10px;
  padding-top: 4px;
}

.services_cell h3 {
  padding-left: 20px;

  letter-spacing: 0;
  color: rgba(102, 109, 137, 255);
}

.services_cell p {
  max-width: 220px;
  width: 55vw;
  height: 60px;
  padding-top: 8px;
  padding-left: 20px;

  font-size: 1.2rem;
  line-height: 2.25rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  text-align: justify;
  color: rgba(102, 109, 137, 255);

  overflow: hidden;
  text-overflow: ellipsis;
}

.left-column img {
  margin-left: 1px;
}

@media (max-width: 1019px) {
  .services {
    padding: 60px 40px 0;
  }

  .services_cell {
    flex: 0.45 0 35%;
    margin-bottom: 55px;
  }

  .services_items {
    margin: 35px 33px 16px 0;
  }
}

@media (max-width: 767px) {
  .services {
    padding: 26px 32px 0;
    scroll-margin-top: 36px;

    border-bottom: 0;
  }

  .services_items {
    display: block;
    margin: 25px 34px 0 0;
  }

  .services_cell {
    margin-bottom: 0;
    padding-bottom: 29.5px;
  }
}

/* PORTFOLIO */

.portfolio {
  scroll-margin-top: 94px;

  background-color: #2d303a;
  border-bottom: solid 6px #323746;
}

.portfolio_article {
  padding: 59px 40px 0;
}

.portfolio_article h2 {
  color: rgba(102, 109, 137, 255);
}

.portfolio_article p {
  margin: 22px 0 17px;

  font-size: 1.85rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  word-spacing: -0.12rem;
  color: rgba(118, 126, 158, 255);
}

.portfolio_radio-buttons {
  display: flex;
  max-width: 290px;

  justify-content: space-between;

  list-style-type: none;
}

.portfolio_radio-buttons input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.portfolio_radio-buttons label {
  padding: 2px 6.7px 4px;

  font-size: 1.2rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  color: rgba(118, 126, 158, 255);
  white-space: nowrap;

  border: solid 0.5px rgba(118, 126, 158, 255);
  border-radius: 5.5px;

  cursor: pointer;
}

.portfolio label:hover,
input:checked + label {
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio_images {
  display: flex;
  flex-flow: row wrap;
  padding: 15px 30px 56px;
}

.portfolio_images li {
  flex: 1 0 20%;
  margin: 9px 10px;

  list-style: none;
}

.portfolio_images li::before {
  float: left;
  padding-top: 85%;

  content: "";
}

.portfolio_images img {
  width: 100%;
  height: 99%;

  cursor: pointer;
}

.portfolio_images img.active {
  outline: #f06c64 solid 5px;
}

@media (max-width: 1019px) {
  .portfolio_images {
    display: flex;
    flex-flow: row wrap;
    padding: 24px 30px 56px;
  }

  .portfolio_images li {
    flex: 1 0 25%;
  }
}

@media (max-width: 767px) {
  .portfolio {
    scroll-margin-top: 35px;

    border-bottom: 0;
  }

  .portfolio_article {
    padding: 40px 30px 0;
  }

  .portfolio_article p {
    margin: 19px 0 19px;

    line-height: 3rem;
  }

  .portfolio_images {
    padding: 22px 23px 34px;
  }

  .portfolio_images :nth-child(1n + 9) {
    display: none;
  }

  .portfolio_images li {
    flex: 1 0 35%;
    margin: 6px 7px 6px;
  }
}

/* ABOUT-US */

.about-us {
  padding: 59px 40px 66px;
  scroll-margin-top: 94px;

  background-color: #f2f2f2;
  border-bottom: solid 6px #ffffff;
}

.about-us_article h2 {
  color: rgba(102, 109, 137, 255);
}

.about-us_article p {
  margin: 18px 0 45px;

  font-size: 1.82rem;
  line-height: 3.01rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  word-spacing: -0.06rem;
  text-align: justify;
  color: rgba(118, 126, 158, 255);
}

.about-us_employee {
  display: grid;
  grid-template-areas: "a a a";
  grid-gap: 20px;
}

.about-us_employee h3 {
  margin-top: 14px;

  font-size: 1.76rem;
  color: rgba(102, 109, 137, 255);

  overflow: hidden;
  text-overflow: ellipsis;
}

.about-us_employee p {
  margin: 8px 0 23px;

  font-size: 1.2rem;
  line-height: 2.1rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  word-spacing: -0.04rem;
  text-align: justify;

  color: rgba(118, 126, 158, 255);
}

.about-us_employee img {
  width: 100%;
}

#adam,
#desmond {
  padding-left: 1px;
}

@media (max-width: 1019px) {
  .about-us {
    padding: 52px 42px 69px;
  }

  .about-us_employee {
    margin-bottom: calc(-10px + 4vw);

    grid-gap: calc(-24px + 5vw);
  }

  .about-us_employee > div {
    display: flex;
    flex-flow: column wrap;
    height: 107%;

    justify-content: space-between;
  }

  .about-us_article p {
    margin: 18px 0 39px;
  }

  .about-us_employee p,
  .about-us_employee h3 {
    margin: 0;
  }
}

@media (max-width: 767px) {
  .about-us {
    padding: 33px 30px 58px;
    scroll-margin-top: 36px;

    border: 0;
  }

  .about-us_article p {
    margin: 18px 0 25px;

    line-height: 3rem;
  }

  .about-us_employee > div {
    height: 105%;
  }

  .about-us_employee h3 {
    margin-top: 8px;
  }

  .about-us_employee {
    display: grid;
    grid-template-areas:
      "a"
      "a"
      "a";
    grid-gap: 54px;
  }
}

.social-media {
  display: flex;
  width: 154px;
  height: 35px;

  justify-content: space-between;
}

.social-media img:hover {
  cursor: pointer;

  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;
}

/* QUOTE-FORM */

.quote-form {
  padding: 59px 0 0;
  scroll-margin-top: 94px;

  background-color: #f06c64;
  border-bottom: solid 6px #ea676b;
}

.quote-form_article h2 {
  color: rgba(240, 216, 217, 255);
}

.quote-form_article {
  margin: 0 40px;
}

.quote-form_article p {
  padding-top: 18px;

  font-size: 1.8rem;
  line-height: 3rem;
  font-family: "Lato-Light", "Arial", sans-serif;
  text-align: justify;
  color: #f0d8d9;
}

.quote-form_container {
  display: flex;
  margin: 45px 40px 64px;

  justify-content: space-between;
}

.quote-form_form {
  display: flex;
  flex-direction: column;
  max-width: 619px;
  width: 100%;
  height: 418px;

  justify-content: space-between;
}

.quote-form_form input {
  height: 38px;
  padding-left: 15px;

  font-size: 1.2rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  color: #f48c8f;

  background-color: #d6564f;
  border-radius: 0.5rem;
}

#form-button {
  width: 120px;
  padding: 0;

  font-size: 2rem;
  color: rgb(15, 6, 6);
  background-color: #fbc65f;
}

.quote-form_form textarea {
  max-width: 604px;
  max-height: 195px;
  padding-left: 15px;
  padding-top: 6px;

  font-size: 1.2rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  color: #f48c8f;

  background-color: #d6564f;
  border-radius: 0.5rem;
}

.quote-form_form input::placeholder,
textarea::placeholder {
  color: #f48c8f;
}

#form-button:hover {
  background-color: #a8352f;

  -webkit-transition-duration: 100ms;
  transition-duration: 100ms;

  cursor: pointer;
}

.quote-form_contact-information {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  height: 194px;
  margin-top: -2px;

  color: #f0d8d9;
}

.quote-form_contact-information p {
  margin-top: 8px;

  font-size: 1.2rem;
  line-height: 2.1rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  text-align: justify;
}

.contact-details {
  display: grid;
  grid-template: repeat(3, 15px) / 15px 120px;
  grid-gap: 7px 7px;
  margin-top: 26px;

  align-items: center;
}

.contact-details p {
  margin: 0;
  padding: 0;

  font-size: 1.2rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  word-spacing: -0.04rem;
  text-align: justify;
  color: #f0d8d9;
}

.contact-details img {
  justify-self: center;
}

@media (max-width: 1019px) {
  .quote-form {
    padding: 53px 0 0;
    scroll-margin-top: 36px;
  }

  .quote-form_container {
    margin: 25px 25px 40px;
  }

  .quote-form_contact-information,
  .quote-form_form {
    margin: 0 15px;
  }

  .quote-form_form {
    width: 85%;
    height: 363px;
  }
  
  .quote-form_form textarea {
    width: 96.5%;
    height: 152px;
  }

  .contact-details {
    margin-top: 15px;
  }

  .quote-form_contact-information p {
    margin-top: 0;
  
    line-height: 2.2rem;
  }
}

@media (max-width: 767px) {
  .quote-form {
    padding: 44px 0 0;
  }

  .quote-form_article {
    margin: 0 30px;
  }

  .quote-form_container {
    display: block;
    margin: 25px 30px 40px;
  }

  .quote-form_form {
    width: 100%;
    height: 370px;
    margin: 0;
  }

  .quote-form_form textarea {
    width: 95.5%;
  }
  
  #form-button {
    height: 50px;
    width: 100%;
  }

  .quote-form_contact-information {
    height: 189px;
    margin: 32px 0;
  }

  .contact-details {
    grid-gap: 11px 7px;
  }
}

/* form message */

#message-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  width: 100vw;
  height: 100vh;

  background: #0008;
}

#message-block.hidden {
  display: none;
}

#message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  width: 350px;
  height: 300px;

  font-size: 3.5rem;
  text-align: center;

  justify-content: space-evenly;
  align-items: center;

  background-color: #ffffff;
  border-radius: 10px;
}

#text-subject,
#text-describe {
  width: 100%;
  height: 15%;

  overflow: hidden;
  text-overflow: ellipsis;
}

#close-button {
  width: 20%;

  font-size: 3rem;

  background-color: #c2b5b6;
  border-radius: 0.5rem;
}

/* FOOTER */

.footer {
  display: flex;
  height: 54px;
  padding: 22px 40px 0 42px;

  justify-content: space-between;

  background-color: #2d303a;
}

.footer_copyright {
  display: block;
  padding-top: 1.3rem;

  font-size: 1.2rem;
  line-height: 0.6rem;
  font-family: "Lato-Regular", "Arial", sans-serif;
  letter-spacing: -0.015rem;
  color: #666d89;
}

@media (max-width: 767px) {
  .footer_copyright {
    display: none;
  }

  .footer {
    padding: 22px 0 0 0;
  
    justify-content: center;
  }
}
